/* Base */
html {
    width:90%;
    margin: auto;
    height: auto;
}

#header {
    border-bottom: #97DFD4 solid 3px; 
    margin: auto;
    height: 10vw;
    min-height: 75px;
    display: fle
}

#logo {
    height:90%;
    min-height: 70px;
    float: left;
}

#menu {
    height:100%;
    width: inherit;
    min-height: 50px;
    margin-left: 80%;
    float: right;
    display: inline;
    vertical-align: bottom;
}

@media only screen and (max-width: 800px) {
    #menu {
        margin-left: 70%;
    }
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: inherit;
  float: right;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#menu:hover + .dropdown-content {display: inline-block;}

/* Calculator */
table, th, td {
    border:1px solid black;
    margin-top: 100px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.output{
    pointer-events:none;
}