{% extends 'calculator_site/base.html' %}

{% block title %}
  Homepage
{% endblock %}

<!--{% block css %}{% endblock %}-->

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../static/JS/test.js"></script>

{% endblock %}

{% block body_block %}
  <h2>This is the action plan page where users can view their action plan if they have created one</h2>
  <h2>This page will show their plans selected pladges and the estimated effect their plan will have on their footprint</h2>
{% endblock %}
