{% extends 'calculator_site/base.html' %}
{% load static %}

{% block title %}
  Admin Page
{% endblock %}

{% block body_block %}
  {% if error %}
    { error }
  {% else %}
  <div class="admin">
        <button class="shine-button" style="margin:10px;">Generate Report For Previous Years:</button>
          <div class="dropdown-years" style="justify-content: center;">
          {% for year in conversion_factors.keys %}
            <a href="{% url 'generate_admin_report' year=year %}"><button class="shine-button" style="margin:10px;">Download Report for {{ year }}</button></a><br>
          {% endfor %}
        </div>
      </div>
  </div>
  {% endif %}
{% endblock %}
