<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            Planet First Locals -
            {% block title%}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/grid.css' %}">
        <!--{% block css %}{% endblock %}-->

    </head>
    <body>
        <div id=header>
            <a href="{% url 'index' %}"><img id="logo" src="{% static 'images/logo.png' %}"></a>

            <div class="dropdown">
                <img id="menu" src="{% static 'images/menu.png' %}">
                <div class="dropdown-content">
                    <a href="{% url 'outline' %}">Outline</a>
                    <a href="{% url 'how-it-works' %}">How it works</a>
                    <a href="{% url 'calculator' %}">Calculator</a>
                    <a href="{% url 'report' %}">Reports</a>
                    <a href="{% url 'login' %}">Log-in</a>
                </div>
            </div>
        </div>
        <div style="height: 100%">
            {% block body_block %}{% endblock %}
        </div>
    </body>

    {% block script %}{% endblock %}

</html>
