<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <meta charset="UTF-8" />
        <title>
            {% block title%}
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            <a href="{% url 'index' %}">homepage</a>
            {% block body_block %}{% endblock %}
        </div>
        <div>
            {% block sidebar_block %}
            {% endblock %}
        </div>
    </body>
</html>
