{% extends 'calculator_site/base.html' %}
{% load static %}

{% block title %}Carbon Calculator{% endblock %}

{% block script %}<script src="{% static 'JS/calculator.js' %}"></script> {% endblock %}
<!--{% block css %}{% endblock %}-->

{% block body_block %}
<h2>The Table</h2>
<form action="/api/cal-submit/" enctype="multipart/form-data"  method="post">
    {% csrf_token %}
    {% for category in categories %}
        <table class="table">
            <tr id="headers">
                <th>{{category.name}}</th>
                <th>Applicable</th>
                <th>Usage</th>
                <th>Amount</th>
                <th>Conversion Factor</th>
                <th>Information</th>
            </tr>
        <!-- ID of table row must match input & output starting id -->
                {% for cal_data in category.fields %}
                    <tr id="{{cal_data.id}}">
                        <td id="{{cal_data.id}}Name">{{cal_data.name}}</td>
                        <td class="checkboxtd"><input checked type="checkbox" onclick="applicableCheck(this)"></td>
                        <td><input type="text" id="{{cal_data.id}}Input"></td>
                        <td>{{cal_data.form}}</td>
                        <td id="{{cal_data.id}}Conv">{{cal_data.conversion}}</td>
                        <td>
                            <div id="{{cal_data.id}}Info" class="tooltip">
                                Info<span class="tooltiptext">This is more information on {{cal_data.name}}</span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
    </table>
    <br><br>
    {% endfor %}
    <input type="submit" value="Save & Next">
</form>
{% endblock %}
