{% extends 'calculator_site/base.html' %}
{% load static %}

{% block title %}
  Homepage
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="box box1">
        <img src="{% static 'images/homepage1.png' %}" alt="Beer on a Table">
        <h2>How Low Can You Go?</h2>
        <p>This programme is designed to support our clients in cutting their carbon, by understanding their business emissions, including their supply chains, and setting and achieving ambitious carbon reduction targets.
        </p>
    </div>
    <div class="box box2" style="height: 100%;">
        <img src="{% static 'images/homepage2.png' %}" alt="Complex Blueprints">
        <h2>What is our Goal?</h2>
        <p>Our aim is to build a network of dynamic and proactive bar and restaurant innovators that are committed to going as low carbon as they can, and then some.</p>
        <a href="{% url 'how-it-works' %}" style="text-decoration: none;"><button class="shine-button" id="find-more-button">Find Out More!</button></a>
    </div>
    <div class="box box3" style="height: 100%;">
        <img src="{% static 'images/homepage3.png' %}" alt="Lock Tavern Outside">
        <h2>How Can You Contribute?</h2>
        <p>Real innovation happens when individuals get inspired to look beyond business as usual and commit to doing things differently. Here at Brewdog, we have totally embraced the need to be a business that is future-ready and supportive of those who are ready to join us.</p>
    </div>
</div>
{% endblock %}
