{% extends 'calculator_site/base.html' %}
{% load static %}

{% block title %}
  Homepage
{% endblock %}

{% block body_block %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <img src="{% static 'images/homepage1.png' %}" alt="Beer on a Table" style="display:inline-block" class="homepageimg">
      <img src="{% static 'images/homepage2.png' %}" alt="Complex Things" style="display:inline-block">
      <img src="{% static 'images/homepage3.png' %}" alt="Lock Tavern Outside" style="display:inline-block">
    </div>
  </div>
</div>

{% endblock %}
