{% extends 'calculator_site/base.html' %}
{% load static %}

{% block title %}
  Homepage
{% endblock %}

{% block body_block %}
<div class="container" style="height: 100vh;">
    <div class="box box1" style="height: 100%;">
        <img src="{% static 'images/homepage1.png' %}" alt="Beer on a Table">
        <h2>How Low Can You Go?</h2>
        <p>This programme is designed to support our clients in cutting their carbon, by understanding their business emissions, including their supply chains, and setting and achieving ambitious carbon reduction targets.<br><br>
        Our aim is to build a network of dynamic and proactive bar and restaurant innovators that are committed to going as low carbon as they can, and then some.<br><br>
        Real innovation happens when individuals get inspired to look beyond business as usual and commit to doing things differently. Here at BrewDog, we have totally embraced the need to be a business that is future-ready and supportive of those who are ready to join us.</p>
    </div>
    <div class="box box2" style="height: 100%;">
        <img src="{% static 'images/homepage2.png' %}" alt="Complex Blueprints">
        <h2>Lorum Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate nibh vitae nunc molestie vehicula. Nunc id risus convallis, vestibulum ante ac, interdum ligula. Aenean at sapien neque. Aliquam non metus malesuada, tristique augue at, posuere purus.<br><br> Nulla suscipit ante neque, sed fringilla lectus euismod ac. Vestibulum ultrices quis sem eu dictum. Integer a justo nisl. Proin sed nunc nec sem ultrices pharetra. Morbi a facilisis urna, non egestas tortor. Ut varius lectus eu mauris sagittis ullamcorper.</p>
        <button class="shine-button" id="find-more-button"><a href="{% url 'how-it-works' %}">Find Out More!</a></button>
    </div>
    <div class="box box3" style="height: 100%;">
        <img src="{% static 'images/homepage3.png' %}" alt="Lock Tavern Outside">
        <h2>Lorum Ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate nibh vitae nunc molestie vehicula. Nunc id risus convallis, vestibulum ante ac, interdum ligula. Aenean at sapien neque. Aliquam non metus malesuada, tristique augue at, posuere purus.<br><br> Nulla suscipit ante neque, sed fringilla lectus euismod ac. Vestibulum ultrices quis sem eu dictum. Integer a justo nisl. Proin sed nunc nec sem ultrices pharetra. Morbi a facilisis urna, non egestas tortor. Ut varius lectus eu mauris sagittis ullamcorper.<br><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate nibh vitae nunc molestie vehicula.</p>
    </div>
</div>


{% endblock %}
