{% extends 'calculator_site/base.html' %}

{% block title %}
  Login
{% endblock %}

<!--{% block css %}{% endblock %}-->

{% block body_block %}
  <div class="login">
    <h2>Login</h2>
    <form id="login_form" method="post">
      {% csrf_token %}
      {{ log_form }}
      <button type="submit" name="login">Login</button>
    </form>

    {% if error != "" %}
      <small style="color:red">{{ error }}</small> <br>
    {% endif %}

    <small>Don't have an account? <a href="{% url 'register' %}"><b>Create one here</b>.</a></small>
  </div>
{% endblock %}
