{% extends 'calculator_site/base.html' %}
{% load static %}


{% block title %} Pledges {% endblock %}
{% block script %}<script src="{% static 'JS/pledge.js' %}"></script> {% endblock %}
<!--{% block css %}{% endblock %}-->

{% block body_block %}
<h2>Pledges</h2>


<form action="/my/pledges" enctype="application/x-www-form-urlencoded" method="post">
  {% csrf_token %}
  <table id="PledgeTable" class="table">
    <tr id="headers">
      <th>Type</th>
      <th>Cutting actions</th>
      <th>Options Target</th>
      <th>Kg CO2e Savings</th>
    </tr>
      {% for pled_data in act_plan %}
        <tr>
          <td>{{pled_data.id}}</td>
          <td>{{pled_data.id}}</td>
          <td>{{pled_data.form}}</td>
          <td>-</td>
        </tr>
      {% endfor %}
  </table>

  <input class="shine-button" type="submit" value="Commit">
</form>

{% endblock %}
