{% extends 'calculator_site/base.html' %}
{% load static %}

{% block title %}
  Pledge Report
{% endblock %}

<!--{% block css %}{% endblock %}-->

{% block body_block %}
    <h2>Pledge Report {{ year }}</h2>
    <div id = "pledgeTable" style="width: 40%; float: left;"></div>
    <div id = "pie" style="height: 50%; float: left; "></div>
    <div id = "plot" style="height: 70%; float: right; "></div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

    <center><img src="{% static 'images/pledge-difficulty.png' %}" alt="My image"></center>


{% endblock %}
{% block script %}

<script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
<script src="{% static 'JS/pledge_report.js' %}"></script>
<script>
    const verbose_json = JSON.parse("{{verbose_json|escapejs}}");
    const pf_mappings_json = JSON.parse("{{pf_mappings_json|escapejs}}");
    const total_percentage_saving = {{total_percentage_saving}};
    //generatePledgeTable();
    const pledge_savings = {{pledge_savings}};
    const residual = {{residual}};
    const cat_emissions = JSON.parse("{{cat_emissions|escapejs}}");
    const cat_reductions = JSON.parse("{{cat_reductions|escapejs}}");
    //plot summary pie chart
    plot_total_pie();

    //plot category bar chart
    plot_category_bar();
</script>
{% endblock %}