{% extends 'calculator_site/base.html' %}
{% load static %}

{% block title %}
  Pledge Report
{% endblock %}

{% block body_block %}
    <h2>Pledge Report {{ year }}</h2>
    {% if cal %}
    <center><table id = "summaryTable" style="width: 50%; margin-bottom: 2%;">
      <tr>
      <th><center>Target Emissions Summary Table</center></th>
      <th><center>Values</center></th>
      <th><center>Units</center></th>
      <tr>
        <td>2019 Baseline</td>
        <td><b>{{baseline_2019}}</b></td>
        <td> tCO2e</td>
      </tr>
      <tr>
        <td>2023 Target Savings</td>
        <td><b>{{target_savings_2023}}</b></td>
        <td>tCO2e</td>
      </tr>
      <tr>
        <td>Emissions Reductions Target (tCO2e)</td>
        <td><b>{{emissions_reduction_target}}</b></td>
        <td> tCO2e</td>
      </tr>
      <tr>
        <td>Pledges Savings (tCO2e)</td>
        <td><b>{{pledges_savings_tons}}</b></td>
        <td> tCO2e</td>
      </tr>
      <tr>
        <td>Actual CO2e % Savings</td>
        <td><b>{{actual_co2_percent_saving}}</b></td>
        <td> %</td>
      </tr>
      <tr>
        <td>Residual (tCO2e)</td>
        <td><b>{{residual}}</b></td>
        <td> tCO2e</td>
      </tr>
    </table>
    </center>
    <div>
        <div id = "pie" style="height: 50%; width: 50%; float: left;margin-top:0;"></div>
        <div id = "plot" style="height: 70%; width: 50%; float: right; margin-top:0"></div>
    </div>

    {% else %}
        <p>Please ensure that you have finished filling in the calculator or unchecked the non-applicable fields</p>
        <a href="{% url 'calculator'%}"><button class="shine-button" style="float:left;" id="sign-up">Go To Calculator</button></a>
    {% endif %}

<style>
    #pie, #plot {
        height: 50%;
        display: inline-block;
    }
</style>
{% endblock %}

{% block script %}
<script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
<script src="{% static 'JS/pledge_report.js' %}"></script>
<script>
    //load in data
    
    const actual_co2_percent_saving = {{actual_co2_percent_saving}};
    const residual = {{residual}};

    const verbose_json = JSON.parse("{{verbose_json|escapejs}}");
    const pf_mappings_json = JSON.parse("{{pf_mappings_json|escapejs}}");

    const pledge_savings = {{pledge_savings}};
    const cat_emissions = JSON.parse("{{cat_emissions|escapejs}}");
    const cat_reductions = JSON.parse("{{cat_reductions|escapejs}}");


    //plot summary pie chart
    plot_total_pie();

    //plot category bar chart
    plot_category_bar();
</script>


{% endblock %}