{% extends 'calculator_site/base.html' %}
{% load static %}
{% block title %}
Homepage
{% endblock %}

<!--{% block css %}{% endblock %}-->


{% block body_block %}
{% if cal %}
    <h2>Report Page</h2>
    <div id="summary-table-category" class="results-summary" style="float: left; display: inline; width: 40%">
        <table>
            <tr>
                <th>Results Summary</th>
                <th>kg CO2e</th>
                <th>%</th>
                <th>Sub</th>
            </tr>

            <tr>
                <td>Heating and Fuel</td>
                <td>{{ carbon_dict.heating_fuel.total }}</td>
                <td>{{ carbon_dict.heating_fuel.percent }}</td>
                <td><label for="heating_fuel"><input type="radio" name="cat_radio" id="heating_fuel" value="1" onclick="subRadioClick(this);"checked="checked"></label></button></td>
            </tr>
            <tr>
                <td>Electricity</td>
                <td>{{ carbon_dict.electricity.total }}</td>
                <td>{{ carbon_dict.electricity.percent }}</td>
                <td><label for="electricity"><input type="radio" name="cat_radio" id="electricity" value="1" onclick="subRadioClick(this);"></label></button></td>
            </tr>
            <tr>
                <td>Food Waste</td>
                <td>{{ carbon_dict.food_waste.total }}</td>
                <td>{{ carbon_dict.food_waste.percent }}</td>
                <td><label for="food_waste"><input type="radio" name="cat_radio" id="food_waste" value="1" onclick="subRadioClick(this);"></label></button></td>
            </tr>
            <tr>
                <td>Other Waste</td>
                <td>{{ carbon_dict.solid_waste.total }}</td>
                <td>{{ carbon_dict.solid_waste.percent }}</td>
                <td><label for="solid_waste"><input type="radio" name="cat_radio" id="solid_waste" value="1" onclick="subRadioClick(this);"></label></button></td>
            </tr>
            <tr>
                <td>Transport and Travel</td>
                <td>{{ carbon_dict.transport_travel.total }}</td>
                <td>{{ carbon_dict.transport_travel.percent }}</td>
                <td><label for="transport_travel"><input type="radio" name="cat_radio" id="transport_travel" value="1" onclick="subRadioClick(this);"></label></button></td>
            </tr>
            <tr>
                <td>Food and Drink</td>
                <td>{{ carbon_dict.food_drink.total  }}</td>
                <td>{{ carbon_dict.food_drink.percent }}</td>
                <td><label for="food_drink"><input type="radio" name="cat_radio" id="food_drink" value="1" onclick="subRadioClick(this);"></label></button></td>
            </tr>
            <tr>
                <td>Operations and Maintenance</td>
                <td>{{ carbon_dict.operations_maintenance.total }}</td>
                <td>{{ carbon_dict.operations_maintenance.percent }}</td>
                <td><label for="operations_maintenance"><input type="radio" name="cat_radio" id="operations_maintenance" value="1" onclick="subRadioClick(this);"></label></button></td>
            </tr>
            <tfoot style="font-weight: bold; background-color: #fbfbg6;">
                <tr>
                    <td>Totals</td>
                    <td>{{ carbon_sum }}</td>
                    <td>100.00</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div id="summary-table-scope" class="results-summary" style="float: left; display: none; width: 40%">
        <table>
            <tr>
                <th>Results Summary</th>
                <th>kg CO2e</th>
                <th>%</th>
                <th>Sub</th>
            </tr>

            <tr>
                <td>Scope 1</td>
                <td>{{ carbon_dict_scope.scope1.total }}</td>
                <td>{{ carbon_dict_scope.scope1.percent }}</td>
                <td><label for="scope1"><input type="radio" name="scope_radio" id="scope1" value="1" onclick="subRadioClick(this);" checked="checked"></label></button></td>
            </tr>
            <tr>
                <td>Scope 2 - Upstream</td>
                <td>{{ carbon_dict_scope.scope2_up.total }}</td>
                <td>{{ carbon_dict_scope.scope2_up.percent }}</td>
                <td><label for="scope2_up"><input type="radio" name="scope_radio" id="scope2_up" value="1" onclick="subRadioClick(this);"></label></button></td>
            </tr>
            <tr>
                <td>Scope 3 - Upstream</td>
                <td>{{ carbon_dict_scope.scope3_up.total }}</td>
                <td>{{ carbon_dict_scope.scope3_up.percent }}</td>
                <td><label for="scope3_up"><input type="radio" name="scope_radio" id="scope3_up" value="1" onclick="subRadioClick(this);"></label></button></td>
            </tr>
            <tr>
                <td>Scope 3 - Downstream</td>
                <td>{{ carbon_dict_scope.scope3_down.total }}</td>
                <td>{{ carbon_dict_scope.scope3_down.percent }}</td>
                <td><label for="scope3_down"><input type="radio" name="scope_radio" id="scope3_down" value="1" onclick="subRadioClick(this);"></label></button></td>
            </tr>
            <tfoot style="font-weight: bold; background-color: #fbfbg6;">
                <tr>
                    <td>Totals</td>
                    <td>{{ carbon_sum_scope }}</td>
                    <td>100.00</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div id = "plot" style="width: 40%; float: right; aspect-ratio:1/1; display: inline-block;"></div>
    <div>
        <select id="cat_switch"onchange="switchGrouping()">
            <option value="category" selected="selected">Category</option>
            <option value="scope">Scope</option>
        </select>
    </div>

    <div id="results-summary" style="float:left; display: inline-block; margin-bottom:5%; width:40%">
        <table id = "subcategories">
            <tr>
                <th id = "subCatHead">Heating and Fuel</th>
                <th>kg CO2e</th>
                <th>%</th>
            </tr>
        </table>
    </div>

<a href="{% url 'pledges' %}" style="text-decoration: none; float:right; margin-top: 38vh; left: 50%; position: fixed;"><button class="shine-button" style="background-color: #F9A825">View Pledges</button></a>

{% block script %}
<script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
<script src = "{% static 'JS/report-functions.js' %}"></script>
<script>
    //load data and json files
    var data = {{json_data}};
    data = data.replace(/'/g, '"');
    var json_data = JSON.parse(data);
    data = {{category_json}};
    var category_json = JSON.parse(data);
    data = {{scope_json}};
    var scope_json = JSON.parse(data);
    data = {{verbose_json}}
    var verbose_json = JSON.parse(data);

    var cat = 1; //initially category is selcted
    //plot initial graph
    plot_sunburst();
    generateSubTable("heating_fuel");
</script>
{% endblock %}
{% else %}
    <h2>Report Page</h2>
    <p>Please ensure that you have finished filling in the calculator or unchecked the non-applicable fields</p>
    <a href="{% url 'calculator'%}"><button class="shine-button" style="float:left;" id="sign-up">Go To Calculator</button></a>
{% endif %}
{% endblock %}
