{% extends 'calculator_site/base.html' %}
{% load static %}
{% block title %}
  Homepage
{% endblock %}

<!--{% block css %}{% endblock %}-->

{% if cal %}
{% block body_block %}
  <h2>Report Page</h2>
    <div class="results-summary" style="float: left; display: inline; width: 40%">
      <table>
        <tr>
          <th>Results Summary</th>
          <th>kg CO2e</th>
          <th>%</th>
        </tr>
        <tr>
          <td>Heating and Fuel</td>
          <td>{{ carbon_dict.heating_fuel.total }}</td>
          <td>{{ carbon_dict.heating_fuel.percent }}</td>
        </tr>
        <tr>
          <td>Electricity</td>
          <td>{{ carbon_dict.electricity.total }}</td>
          <td>{{ carbon_dict.electricity.percent }}</td>
        </tr>
        <tr>
          <td>Food Waste</td>
          <td>{{ carbon_dict.food_waste.total }}</td>
          <td>{{ carbon_dict.food_waste.percent }}</td>
        </tr>
        <tr>
          <td>Other Waste</td>
          <td>{{ carbon_dict.solid_waste.total }}</td>
          <td>{{ carbon_dict.solid_waste.percent }}</td>
        </tr>
        <tr>
          <td>Transport and Travel</td>
          <td>{{ carbon_dict.transport_travel.total }}</td>
          <td>{{ carbon_dict.transport_travel.percent }}</td>
        </tr>
        <tr>
          <td>Food and Drink</td>
          <td>{{ carbon_dict.food_drink.total  }}</td>
          <td>{{ carbon_dict.food_drink.percent }}</td>
        </tr>
        <tr>
          <td>Operations and Maintenance</td>
          <td>{{ carbon_dict.operations_maintenance.total }}</td>
          <td>{{ carbon_dict.operations_maintenance.percent }}</td>
        </tr>
        <tfoot style="font-weight: bold; background-color: #fbfbg6;">
          <tr>
              <td>Totals</td>
              <td>{{ carbon_sum }}</td>
              <td>100.00</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- This is Luke commenting this out. I don't know if it's useful being visible, but it's not useful to me, therefore *it isn't for anyone* :P -->
    <!--{{category_json}}-->
    <div id = "plot" style="height: 90%; float: right; aspect-ratio:1/1;"></div>

{% endblock %}
{% block script %}
  <script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
  <script src = "{% static 'JS/report-functions.js' %}"></script>
  <script>
    var data = {{json_data}};
    data = data.replace(/'/g, '"');
    var json_data = JSON.parse(data);
    data = {{category_json}};
    const category_json = JSON.parse(data);
    console.log(category_json);
    data = {{scope_json}};
    const scope_json = JSON.parse(data);
    console.log(scope_json);
    plot_sunburst();
  </script>
{% endblock %}
{% else %}
    {% block body_block %}
        <h2>Report Page</h2>
        <p>Please ensure that you have finished filling in the calculator or unchecked the non-applicable fields</p>
        <a href="{% url 'calculator'%}"><button class="shine-button" style="float:left;" id="sign-up">Go To Calculator</button></a>
    {% endblock %}
{% endif %}

